@import '../../../variables.scss';
@import '../../../filson-font.scss';

.container-inicio {
    display: flex;
    box-sizing: content-box;
    margin: 0 auto;

    max-width: 1440px;
    padding: 12rem 24px 0 24px;
    transition: .3s;

    .left-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .text-section {
            .title {
                // width: max-content;
                h1 {
                    font-size: 4.8rem;
                    line-height: 5.5rem;
                    transition: .3s;
                    span {
                        color: $primary-color;
                    }
                }
                h3 {
                    font-size: 1.5rem;
                    line-height: 2.5rem;
                    font-weight: 400;
                    color: $primary-color;
                }
            }
            .subtext {
                padding: 2rem 0;
                width: 80%;
                transition: .3s;
                p {
                    font-family: 'Filson Pro', Georgia, 'Times New Roman', Times, serif;
                    line-height: 1.8rem;
                    font-size: 1.25rem;
                }
            }
        }

        .redirection {
            width: 100%;
            padding-top: 3rem;
            transition: .3s;

            ::ng-deep app-redirect-button a{
                color: #fff !important;
                font-weight: bold;
                text-decoration: none;

                width: 250px;
                height: 60px;
                border-radius: 10px;
                opacity: 0.9;
                border: 2px solid $secondary-color;
                background-color: $secondary-color !important;
            }

            ::ng-deep app-redirect-button a:hover {
                border-color: $primary-color !important;
                background-color: #fff !important;
                color: $primary-color !important;
                transform: scale(1.02);
            }
        }
    }

    .right-section {
        .background {
            display: flex;
            justify-content: end;

            transition: .2s;
            .img {
                display: flex;
                text-align: center;

                padding: .4rem;
                border-radius: 50px;
                background: linear-gradient($secondary-color 50%, $primary-color 50%);
                img {
                    border-radius: 45px;
                    transition: .3s;
                }
            }
        }
    }
}

.container-inicio .left-wrapper,
.container-inicio .right-section {
    width: 50%;
    transition: .5s;
}

@media screen and (max-width: 1500px) {
    .container-inicio {
        height:inherit;
    }

    .container-inicio .left-wrapper,
    .container-inicio .right-section {
        width: auto;
    }

    .container-inicio {
        .left-wrapper .text-section {
            .title h1 {
                font-size: 4.3rem !important;
                line-height: 4.8rem !important;
            }
            .subtext {
                width: 78%;
            }
        }
        .right-section .background .img img {
            width: 450px;
            height: 580px;
        }
    }
}

@media screen and (max-width: 1340px) {
    .container-inicio {
        .left-wrapper {
            .text-section .subtext {
                width: 75%;
            }
            .redirection {
                padding-top: 1rem;
            }
        }
    }
}

@media screen and (max-width:1150px) {
    .container-inicio {
        .left-wrapper .text-section {
            .title h1 {
                font-size: 3.6rem !important;
                line-height: 4.3rem !important;
            }

            .subtext p {
                font-size: 1.1rem;
                line-height: 1.8rem;
            }
        }
        .right-section .background .img img {
            width: 400px;
            height: 520px;
        }
    }
}

@media screen and (max-width:992px) {
    .container-inicio {
        // padding: 2rem;
        flex-direction: column-reverse;

        .left-wrapper {
            .text-section {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .title {
                    text-align: center;

                    padding-top: 1rem;
                    width: 100%;
                    h1 {
                        font-size: 4rem !important;
                        line-height: 4.5rem !important;
                    }
                }

                .subtext {
                    text-align: center;

                    margin: 0 auto;
                    p {
                        font-size: 1.2rem;
                        line-height: 1.8rem;
                    }
                }
            }
            .redirection {
                display: flex;
                justify-content: center;
            }

        }
        .right-section .background {
                justify-content: center;
                .img img {
                    width: 400px;
                    height: 490px;
                }
            }
    }

}

@media screen and (max-width: 680px) {
    .container-inicio {
        .left-wrapper {
            .text-section {
                .title h1 {
                    font-size: 3rem !important;
                    line-height: 3.5rem !important;
                }
                .subtext {
                    width: 80%;
                    p {
                        font-size: 1rem;
                        line-height: 1.6rem;
                    }
                }
            }

        }
        .right-section .background {
                .img img {
                    width: 300px;
                    height: 370px;
                }
            }
    }
}

@media screen and (max-width:520px) {
    .container-inicio {
        .left-wrapper .text-section {
                .title h1 {
                        font-size: 2.6rem !important;
                        line-height: 3.3rem !important;
                }

                .subtext {
                    width: 85%;
                    padding: 1rem 0;
                    p {
                        font-size: 1rem;
                        line-height: 1.6rem;
                    }
                }
        }
        .right-section .background .img img {
            width: 270px;
            height: 330px;
        }
    }
}

@media screen and (max-width:460px) {
    .container-inicio .left-wrapper .text-section .subtext {
        width: 95%;
    }
}
