<section class="inicio">
    <div class="container-inicio">
        <div class="left-wrapper">
            <div class="text-section">
                <div class="title">
                    <h1>Conheça a<br>Emilia <span>Pessoa</span> !</h1>
                    <h3>Filha de Caucaia e candidata a prefeita do município</h3>
                </div>
                <div class="subtext">
                    <p>
                      Apoiada por Tasso Jereissati, Roberto Pessoa e Capitão Wagner, Emilia Pessoa prepara uma gestão com foco na segurança, educação e saúde, além da participação ativa da população.
                    </p>
                </div>
            </div>
            <div class="redirection">
                <app-redirect-button
                    locale="#sobre"
                    text="Saiba Mais"
                >

                </app-redirect-button>
            </div>
        </div>
        <div class="right-section">
            <div class="background">
                <div class="img">
                    <img [ngSrc]="criancasImg" width="500" height="620" priority="">
                </div>
            </div>
        </div>
    </div>
</section>
