<app-header></app-header>
<app-inicio id="inicio"></app-inicio>
<app-sobre id="sobre"></app-sobre>
<!-- <app-activities></app-activities> -->
<!-- <app-voluntario></app-voluntario> -->
<app-recomendacoes id="recomendacoes"></app-recomendacoes>
<app-bandeiras id="bandeiras"></app-bandeiras>
<a href="https://whatsapp.com/channel/0029VagjU36KQuJGxxkFHj16" target="_blank">
  <img src="../assets/icons/whatsapp.png" alt="">
</a>
<div class="address">
  <p>CNPJ: 56.627.925/0001-11</p>
</div>
<!-- <app-perguntas-frequentes></app-perguntas-frequentes> -->
