<section class="sobre">
    <img src="../../../assets/line-wave.svg" alt="">
    <div class="container-sobre">
        <app-highlight-panel
            imageUrl="../../../assets/images/atividades3.jpeg"
            preTitle="Nossa História"
            title="Uma jornada de ações pelo povo de Caucaia"
            subtext="Desde a infância, carrega uma longa experiência com gestão pública, uma vez que veio de uma família tradicional na política. Maria Emilia Pessoa de Lima Carneiro nasceu dia 11 de julho de 1974, em Caucaia, e cresceu na comunidade de Carauçanga. Filha do ex-vereador Chico Pessoa (In Memorian) e de Maria José de Castro Pessoa de Lima, Emilia também é esposa, mãe e avó, além de irmã do guerreiro de Caucaia, Eduardo Pessoa (In Memorian)."
        >
        </app-highlight-panel>
        <app-highlight-panel
            imagePosition="left"
            imageUrl="../../../assets/images/atividades2.jpeg"
            preTitle="Espírito Comunitário"
            title="A Vondade de Fazer o Bem"
            subtext="Também atuante como professora universitária, Emilia Pessoa desenvolveu um eminente trabalho social de forma efetiva, sensível e popular ao lado de seu pai e de seu irmão Eduardo Pessoa. Representando o 11º mandato de sua família, foi vereadora de Caucaia de 2017 a 2020, Relatora da Comissão de Educação e Presidente da Comissão Legislativa de Saúde. "
        >
        </app-highlight-panel>
        <app-highlight-panel
            imageUrl="../../../assets/images/atividades5.jpeg"
            preTitle="Perseverança e Dedicação"
            title="Uma Mulher de Luta e Coragem"
            subtext="Presidiu competentemente a primeira CPI no município de Caucaia e, em 2018, foi candidata à Vice-Governadora. Já em 2020, concorreu à Prefeitura da cidade e alcançou a média de quase 20% dos votos válidos no seu município. Esteve como Secretária Municipal de Educação e como Secretária Municipal de Governo em Caucaia de 2020 a 2021. Em 2022, Emilia Pessoa foi eleita Deputada Estadual quando obteve 80% dos votos do município, considerado como o maior percentual de votação na cidade."
        >
        </app-highlight-panel>
        <app-highlight-panel
            imagePosition="left"
            imageUrl="../../../assets/images/atividades4.jpeg"
            preTitle="o presente e o futuro"
            title="Uma Caucaia Melhor !"
            subtext="Já no primeiro mandato, garantiu seu espaço ao compor a Mesa Diretora da 31ª Legislatura do Estado do Ceará. Atualmente, é a Presidente do Diretório do PSDB em Caucaia e a Vice-Presidente do PSDB Mulher do Ceará. Para os próximos quatros anos, Emilia Pessoa aponta para uma gestão pensada para as famílias de Caucaia, com foco na segurança, educação e na saúde da cidade, além da atuação e participação ativa da população em seu governo."
        >
        </app-highlight-panel>
        <img src="" alt="">
    </div>
</section>
