<div class="container">
  <h1><lucide-icon name="loader-circle" [size]="24" [strokeWidth]="3" color="#394595"></lucide-icon>Propostas</h1>
  <swiper-container
    #SwiperComponent
    class="swiper"
    pagination="true"
    pagination-clickable="true"
    navigation="true"
    space-between="20"
    autoplay-delay="5000"
    autoplay-disable-on-interaction="false"
    slides-per-view="3"
    [breakpoints]="breakpoints"
  >
    @for(item of listPropostas; track $index){
      <swiper-slide>
        <div class="proposta">
          <div class="title">
            <div class="number-proposta">
              <div class="number">
                <p>{{ $index + 1 }}</p>
              </div>
            </div>
            <p class="title-role" [title]="item.title">
              {{ item.title}}
            </p>
          </div>
          <div class="details">
            <p>{{ item.description }}</p>
          </div>
        </div>
      </swiper-slide>
    }
  </swiper-container>
</div>
