@import '../../../variables.scss';
:host {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  max-width: 1440px;
  padding: 3rem 24px;
  .container {
    max-width: 1300px;
    transition: .3s;
    h1 {
      text-align: center;
      font-size: 2.5rem;
    }

    swiper-container {
      margin: 2rem 0;
      height: 350px;
      swiper-slide {
        border-radius: 30px;
        // background-color: #fffef9;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        border: 2px solid $primary-color;
        padding: 36px;
        height: 300px;
        .proposta {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .title {
            display: flex;
            gap: 15px;
            align-items: center;
            .number-proposta {
              .number {
                width: 40px;
                height: 40px;
                border: 2px solid $primary-color;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
            .title-role {
              text-align: center;
              font-size: 1rem;
              font-family: 'Roboto', sans-serif;
              width: fit-content;
              background-color: $primary-color;
              color: #fff;
              font-weight: 600;
              border-radius: 15px;
              padding: 10px 15px;
              height: auto;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          .details{
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            font-family: 'Roboto', sans-serif;
            gap: 10px;
          }
        }
      }
    }
    swiper-container::part(bullet) {
      background-color: ligthen($primary-color, 50%);

    }
    swiper-container::part(bullet-active) {
      background-color: $primary-color;
    }
    swiper-container::part(button-prev),
    swiper-container::part(button-next) {
      color: $primary-color;
    }
  }
}

@media screen and (min-width:1341px) {
  .container {
    width: 1300px;
  }

}

@media screen and (max-width: 1340px) {
  .container {
    width: 1024px;
  }
}

@media screen and (max-width: 1080px) {
  .container {
    width: 768px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 700px;
  }
}

@media screen and (max-width: 768px) {
  :host {
    padding: 3.5rem 24px 0 24px;
    .container {
      // width: 600px;
      width: 95%;
      h1 {
        padding-top: 3rem;
      }
    }
  }

}

@media screen and (max-width: 650px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 420px) {
  .title {
    flex-direction: column;
  }
  swiper-container  {
    height: 430px !important;
    swiper-slide {
      padding: 15px 36px !important;
      height: 380px !important;
    }
  }
}

@media screen and (max-width: 350px) {
  swiper-container  {
    height: 490px !important;
    swiper-slide {
      padding: 15px 36px !important;
      height: 440px !important;
    }
  }
}
