<div class="title">
  <h1>Meu compromisso é com <span>você</span>!</h1>
  <p>Carrego comigo as bandeiras do que o povo precisa:</p>
</div>

<div class="bandeiras-container">
  <div class="bandeira">
    <div class="container-img">
      <img src="../../../assets/icons/heartbeat.svg" alt="">
    </div>
    <h3>Saúde Pública</h3>
  </div>
  <div class="bandeira">
    <div class="container-img">
      <img src="../../../assets/icons/school.svg" alt="">
    </div>
  <h3>Educação com Qualidade</h3>
  </div>
  <div class="bandeira">
    <div class="container-img">
      <img src="../../../assets/icons/shield-half.svg" alt="">
    </div>
    <h3>Segurança Reforçada</h3>
  </div>
</div>

<div class="footer">
  <p>Coligação JUNTOS SOMOS MAIS. Caucaia: PSDB, CIDADANIA, PP, UNIÃO BRASIL, PDT</p>
</div>

