@font-face {
  font-family: 'Filson Pro';
  src: url('/assets/fonts/filson-pro/FilsonProBlack.otf') format('opentype');
  font-weight: 900; /* Black */
  font-style: normal;
}

@font-face {
  font-family: 'Filson Pro';
  src: url('/assets/fonts/filson-pro/FilsonProBlackItalic.otf') format('opentype');
  font-weight: 900; /* Black */
  font-style: italic;
}

@font-face {
  font-family: 'Filson Pro';
  src: url('/assets/fonts/filson-pro/FilsonProBold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Filson Pro';
  src: url('/assets/fonts/filson-pro/FilsonProBoldItalic.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: italic;
}

@font-face {
  font-family: 'Filson Pro';
  src: url('/assets/fonts/filson-pro/FilsonProBook.otf') format('opentype');
  font-weight: 500; /* Book (Medium) */
  font-style: normal;
}

@font-face {
  font-family: 'Filson Pro';
  src: url('/assets/fonts/filson-pro/FilsonProBookItalic.otf') format('opentype');
  font-weight: 500; /* Book (Medium) */
  font-style: italic;
}

@font-face {
  font-family: 'Filson Pro';
  src: url('/assets/fonts/filson-pro/FilsonProHeavy.otf') format('opentype');
  font-weight: 800; /* Heavy */
  font-style: normal;
}

@font-face {
  font-family: 'Filson Pro';
  src: url('/assets/fonts/filson-pro/FilsonProHeavyItalic.otf') format('opentype');
  font-weight: 800; /* Heavy */
  font-style: italic;
}

@font-face {
  font-family: 'Filson Pro';
  src: url('/assets/fonts/filson-pro/FilsonProLight.otf') format('opentype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'Filson Pro';
  src: url('/assets/fonts/filson-pro/FilsonProLightItalic.otf') format('opentype');
  font-weight: 300; /* Light */
  font-style: italic;
}

@font-face {
  font-family: 'Filson Pro';
  src: url('/assets/fonts/filson-pro/FilsonProMedium.otf') format('opentype');
  font-weight: 600; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Filson Pro';
  src: url('/assets/fonts/filson-pro/FilsonProMediumItalic.otf') format('opentype');
  font-weight: 600; /* Medium */
  font-style: italic;
}

@font-face {
  font-family: 'Filson Pro';
  src: url('/assets/fonts/filson-pro/FilsonProRegular.otf') format('opentype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Filson Pro';
  src: url('/assets/fonts/filson-pro/FilsonProRegularItalic.otf') format('opentype');
  font-weight: 400; /* Regular */
  font-style: italic;
}

@font-face {
  font-family: 'Filson Pro';
  src: url('/assets/fonts/filson-pro/FilsonProThin.otf') format('opentype');
  font-weight: 200; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: 'Filson Pro';
  src: url('/assets/fonts/filson-pro/FilsonProThinItalic.otf') format('opentype');
  font-weight: 200; /* Thin */
  font-style: italic;
}
